{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A hub for authentic Ghanaian Kente and other fabrics" />
    <meta name="keywords" content="Ghanaian Cloth, African Fabrics, Traditional Wear, Kente Cloth" />
    <meta name="author" content="My_Django_Project" />
    {% endblock %}

    {% block extra_meta %}{% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}{% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/68aa8a6d33.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}{% endblock %}
    
    <title>My_Django_Project{% block extra_title %}{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center mt-3">
            <a href="{% url 'home' %}">Home</a>
            <img class="brand-logo" src="{% static 'images/white-kente.jpg' %}" alt="My_Django_Project" />
        </div>
        {% include 'includes/main_nav.html' %}
        {% include 'includes/categories_nav.html' %}
        <div class="row text-center delivery-banner">
            <div class="col">
                <h4 class="my-3 text-blue">
                    <i class="fa-solid fa-truck-fast"></i> Free Delivery on orders over ₵{{ free_delivery_threshold }}
                </h4>
            </div>
        </div>
        <!-- User Profile and Logout Links -->
        <div class="row d-flex justify-content-end">
            {% if request.user.is_authenticated %}
                <a href="{% url 'account_logout' %}" class="dropdown-item text-blue">Sign Out</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item text-blue">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item text-blue">Sign In</a>
            {% endif %}
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% if message.level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
            {% elif message.level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
            {% elif message.level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
            {% else %}
                {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}{% endblock %}
    {% block content %}{% endblock %}

    <footer class="mt-auto">
        <div class="container-fluid">
            <div class="row text-center d-flex justify-content-around">
                <!-- Contact Section -->
                <div class="col-sm-3">
                    <h4 class="pt-3 pb-3">Contact</h4>
                    <p>Contact My_Django_Project</p>
                    <p>Tel: +233 24 1234567</p>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube fa-2x"></i></a>
                </div>
  
                <!-- Payment Section -->
                <div class="col-sm-3 pt-3 pb-3">
                    <h4 class="pb-3">Payments</h4>
                    <p>Supported by <i class="fa-brands fa-stripe fa-3x"></i></p>
                    <p>Cards Accepted:</p>
                    <i class="fa-brands fa-cc-visa fa-2x"></i>
                    <i class="fa-brands fa-cc-mastercard fa-2x"></i>
                    <i class="fa-brands fa-cc-amex fa-2x"></i>
                </div>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script>
        $(".toast").toast("show");
    </script>
    {% endblock %}
</body>
</html>
