<div class="row">
    <div class="col d-flex justify-content-lg-center">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#categories-nav" aria-controls="categories-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="categories-nav">
              <ul class="navbar-nav w-auto mx-auto">
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link mr-5 text-blue"  id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      All Products
                  </a>
                  <div class="dropdown-menu border-1" aria-labelledby="all-products-link">
                      <a href="">By Price</a>
                      <a href="">By Rating</a>
                      <a href="">By Category</a>
                      <a href="">All Products</a>
                  </div>
              </li>
                <li class="nav-item">
                  <a href="#">Kente Cloth</a>
                </li>
                <Br>
                <li class="nav-item">
                  <a href="#">GTP Authentic Print</a>
                </li>
                <Br>              
                <li class="nav-item">
                  <a href="#">Akosombo Textile</a>
                </li>
                <Br>
                <li class="nav-item">
                  <a href="#">Wooden</a>
                </li>
                <Br>
                <li class="nav-item">
                  <a href="#">High Target</a>
                </li>
                <Br>
                <li class="nav-item">
                  <a href="#">Deals</a>
                </li>
              </ul>
            </div>
        </nav>
      </div>
    </div>